@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/* latin */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(http://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYAzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.block-banner {
  width: 100%;
}

.sub-link {
  font-size: .8em;
  padding-left: 1em;
}

a:hover, a:active, a:link {
  text-decoration: none;
}

.sub-item-link {
  font-size: .8em;
  margin-left: 10px;
}

.toolbar {
  display: flex;
  justify-content: space-around;
  align-items: center;

  i {
    flex: 0 0 auto;
    font-size: 1.2em;
  }

  a:hover {
    cursor: pointer;
  }
}

.user-details {

  .user-name {
    text-transform: capitalize;
  }
}

.thumbnail {
  min-height: 20em;

}

.caption {
  font-size: 1em;

  .lead {
    font-size: .8em;
  }
  div {
    width: 100%;
    overflow: hidden;
  }
}

.item-details {
  font-size: .9em;
}

.product-name {
  text-align: center;
}

.category-list {
  text-transform: capitalize;

}

.navbar:after {
  display: none;
}

.toolbar:before {
  display: none;
}

.navbar:after {
  background-color: red;
}

.error {
  font-weight: bold;
  color: red;
}

.alert {
  padding: 2em 0;
}

.swiper-slide {
  background: #fff;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.swiper-slide span {
  text-align: center;
  display: block;
  margin: 20px;
  font-size: 21px;
}

.swiper-container {
  height: 120px;
  margin: 35px 0;
}

.item {
  padding: 0 3px !important;
}

.item-img {
  min-height: 15em;
  max-height: 15em;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.product-img {
  min-height: 12em;
  max-height: 25em;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.search-bar {
  width: 100%;
  border: none;
  outline: none;
  height: 2em;
  background: none;
}

input[type='text'],
input[type='number'],
textarea {
  font-size: 16px;
}